@import 'reset';
@import 'nib';
@import 'colors';
@import 'fonts';

html {
    font-size: 100%
}

body {
    font-size: 1em
    color: #FFF
    background: blue
    font-family-light()
}

a, a:visited {
    color: #FFF;
    text-decoration: none
}

header {
    padding: 20px

    .logo::before {
        vertical-align: -8px
        content: ''
        background: url("../images/logo.png") center center
        height: 24px
        width: 24px
        display: inline-block
        background-size: 100%
        margin-right: 12px
   }
}

.wrapper {
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
}

h1, h2 {
    text-align: center
    font-weight: lighter
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3em
    }

    h2 {
        font-size: 2em
    }
}

@media (max-width: 1023px) {
    html {
        font-size: 70%
    }
}
