global-reset()

html, body {
    height: 100%
    width: 100%
}

body {
    -webkit-font-smoothing: antialiased
    color: #FFF
    font-family-light()
}

* {
  box-sizing: border-box
}

light-underline(position, color) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, transparentify(color, color, 0.8) 75%)
    background-repeat: repeat-x
    background-size: 2px 2px;
    background-position: 0 position
}

strong {
  font-weight: bold
}

em {
  font-style: italic
}

a, a:visited {
    cursor: pointer
    color: #FFF
    text-decoration: none
}

button {
    cursor: pointer
    border: none
    background: transparent
    outline: none
}

header {
    top: 0
    z-index: 2
    position: absolute
    width: 100%
    background: transparentify(blue, blue, 0.6)
    transition: transform .2s

    font-family-regular()

    .logo {

        &::before {
            vertical-align: -6px
            content: ''
            background: url("../images/logo.png") center center
            height: 24px
            width: 24px
            display: inline-block
            background-size: 100%
            margin-right: 12px
        }
    }

    .beta {
        text-transform: uppercase
        position: absolute
        right: 80px
        top: 0
        transition: color .2s
        padding: 23px

        &::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F00F'
            color: #FFF
            font-size: 30px
            position: absolute
            left: -18px
            top: 14px
        }

        &:hover::before {
            color: #a4c643
        }
    }
}

h1, h2 {
    font-family-bold()
}

p {
    font-size: 18px
    line-height: 24px
    margin: 10px 0
}

h1 {
    font-size: 34px
    line-height: 44px
    margin: 20px 0
}

h2 {
    font-size: 26px
    margin: 20px 0 6px 0
}

body::before {
    content: ''
    background: rgb(33, 84, 134)
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    transition: opacity .2s
    opacity: .8
}

body:not(.playing) {

    .screen::before {
        content: ''
        position: absolute
        top: 0
        bottom: -1px
        left: 0
        right: 0
        background-color: blue
    }


    .screen::after {
        content: ''
        position: absolute
        background: url("../images/train.png") no-repeat
        top: 50%
        left: 50%
        height: 229px
        width: 110px
        background-size: 100%
        transform: translate(-50%, -50%)
    }
}

body.playing {

    &::before {
        opacity: 0
        z-index: 0
    }

    header {
        transform: translate3d(0,-64px, 0)
    }

    #map-legend {
        display: block
    }

    #content {
        transform: translate3d(-100%, 0, 0);
    }

    #demo {

        .stop-demo {
            display: block !important
        }
    }

    .phone {
        opacity: 0.9
        transition: opacity 0.2s

        &:hover {
            opacity: 1
        }
    }
}

#content {
    position: absolute
    right: 0
    left: 0
    height: 100vh
    z-index: 1

    .wrapper {
        margin: auto
    }

    p a {
        light-underline(19px, #FFF)
    }

    /* a.github::before { */
    /*   font-family: 'Cheminot' */
    /*   content: '\F012' */
    /*   display: inline-block */
    /*   color: #FFF */
    /*   padding-right: 4px */
    /* } */

    /* a.googleplus::before { */
    /*   font-family: 'Cheminot' */
    /*   content: '\F010' */
    /*   display: inline-block */
    /*   color: #FFF */
    /*   padding-right: 4px */
    /* } */

    /* a.twitter::before { */
    /*   font-family: 'Cheminot' */
    /*   content: '\F011' */
    /*   display: inline-block */
    /*   color: #FFF */
    /*   padding-right: 4px */
    /* } */

    .roadmap {
        margin-top: 40px

        ul {

            li {
                padding: 6px

                p {
                    display: inline
                }

                input[type=checkbox] {
                    outline: none
                }

                &.done {
                    text-decoration: line-through
                }
            }
        }
    }

    .try-demo, .download-beta {
        display: inline-block
        color: #FFF
        width: 100%
        text-align: center
        padding: 20px
        font-size: 16px
        text-transform: uppercase
        font-family-bold()
    }

    .try-demo {
        margin-top: 20px
        background: orange
    }

    .download-beta {
        margin: 20px 0
        background: blue
    }
}

#demo {
    position: absolute
    right: 0
    top: 0
    bottom: 0
    z-index: 1
    width: 33%

    .stop-demo {
        position: absolute
        top: 4%
        right: 4%
        font-size: 0
        display: none

        &::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F004'
            font-size: 44px
            color: dark-blue
        }
    }
}

#map-legend {
    position: absolute
    left: 10px
    bottom: 10%
    transform: translateY(10%)
    z-index: 1
    display: none
    border-radius: 4px
    padding: 10px
    background: transparentify(#000, #000, .5)
    font-size: 14px

    li {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 1)
        padding: 4px 0 4px 0

        .icon {
            display: inline-block
            width: 20px
            height: 30px
            vertical-align: middle
            margin-right: 8px
        }

        &.algorithm .icon {
            background: url("../images/pin-s-embassy+548cba@2x.png") center center
            background-size: 100%
        }

        &.best-trip .icon {
            background: url("../images/pin-m-rail-light+e9683e@2x.png") center center
            background-size: 100%
        }
    }
}

#map {
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
}

.phone {
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, calc(-50% + 32px))
    background: #2C2C2C
    width: 320px
    height: 0
    padding-top: 630px
    margin: 0 auto
    border-radius: 50em/6em
    z-index: 2

    * {
      cursor: url("../images/touch-cursor.png") 16 10, pointer;
    }

    .mask {
        position: absolute
        top: 0
        bottom: -1px
        left: 0
        right: 0
        z-index: 2
        background: rgba(33, 84, 134, 0.7)

        &.off {
            display: none
        }
    }

    .camera {
        position: absolute
        top: 4%
        left: 48.5%
        background: #3f3f3f
        width: 3%
        height: 0
        padding-top: 3%
        border-radius: 50%
    }

    .speaker {
        position: absolute
        top: 7%
        left: 42.5%
        background: #3f3f3f
        width: 15%
        height: 0
        padding-top: 3%
        border-radius: 1em
    }

    .text {
        opacity: 0
        font-size: 1.25rem
        text-align: center
        animation: unhide 5s infinite alternate
    }

    .screen {
        background: #FFF
        width: 90%
        height: 485px
        position: absolute
        top: 12.5%
        left: 5%
        padding-bottom: 38px

        iframe {
            width: 100%
            height: 100%
        }
    }

    .square {
        position: absolute
        top: 11px
        left: 11px
        border: 2px solid #d7d7d7
        border-radius: .3em
        width: 45%
        height: 45%
    }

    .buttons {
        width: 100%
        padding: 6px 30px
        position: absolute
        bottom: -1px
        z-index: 2
        background: #383838

        button {
            border: none
            background: none
            outline: none
            font-size: 0
        }

        .back::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F00E'
            color: rgba(255, 255, 255, 0.73)
            font-size: 20px
        }
    }

    .unavailable-demo, .start-demo button {
        font-family-regular()
    }

    .start-demo {
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 4
        width: 90%
        text-align: center

        &.hidden {
            display: none
        }

        button {
            text-transform: uppercase
            border: none
            background: blue
            color: grey-blue
            outline: none
            display: inline-block
            font-size: 20px
            width: 100%
            padding: 20px
        }
    }

    .unavailable-demo {
        display: none
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 4
        width: 90%
        text-align: center
        text-transform: uppercase
        background: orange
        color: #FFF
        outline: none
        font-size: 20px
        padding: 20px
        box-sizing: border-box

        &.on {
            display: block
        }
    }
}

@media screen and (min-width: 1024px) {

    html, body {
        overflow: hidden
    }

    header {
        padding: 20px 40px 20px 80px
    }

    #content {
        top: 0
        width: 66%
        transition: transform .2s

        .wrapper {
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            padding-left: 80px
            width: 100%
        }

        .try-demo, .download-beta {
            display: none
        }
    }

}

@media (max-width: 1023px) {

    header {
        padding: 20px

        .beta {
            display: none
        }
    }

    #content {
        top: 64px

        .wrapper {
            width: 84%
        }
    }

    #demo {
        display: none
    }

}
