global-reset()

size(n) {
    n / 16 rem;
}

html, body {
    height: 100%
    width: 100%
    font-size: 100%
}

body {
    -webkit-font-smoothing: antialiased
    color: #FFF
    font-size: 1em
    font-family-light()
}

* {
  box-sizing: border-box
}

strong {
  font-weight: bold
}

em {
  font-style: italic
}

a, a:visited {
    cursor: pointer
    color: #FFF
    text-decoration: underline
}

button {
    cursor: pointer
    border: none
    background: transparent
    outline: none
}

header {
    top: 0
    z-index: 2
    position: absolute
    width: 100%
    background: transparentify(blue, blue, 0.6)
    transition: transform .2s
    padding: size(20px) size(40px) size(20px) size(80px)

    font-family-regular()

    .logo {

        &::before {
            vertical-align: size(-6px)
            content: ''
            background: url("../images/logo.png") center center
            height: size(24px)
            width: size(24px)
            display: inline-block
            background-size: 100%
            margin-right: size(12px)
        }
    }

    .left, .right {
        width: 50%
        display: inline-block
    }

    .right {
        text-align: right
    }

    .android-store {
        position: relative
        text-transform: uppercase

        &::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F00F'
            color: #FFF
            font-size: size(30px)
            position: absolute
            left: size(-38px)
            top: size(-5px)
            transition: color .2s
        }

        &:hover::before {
            color: #a4c643
        }
    }
}

h1, h2 {
    font-family-bold()
}

p {
    font-size: size(18px)
    line-height: size(24px)
    margin: size(10px) 0

    &.note {
        font-size: size(14px)
    }
}

h1 {
    font-size: size(34px)
    line-height: size(44px)
    margin: size(20px) 0
}

h2 {
    font-size: size(26px)
    margin: size(20px) 0 size(6px) 0
}

body::before {
    content: ''
    background: rgb(33, 84, 134)
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    transition: opacity .2s
    opacity: .8
}

body:not(.playing) {

    .screen::before {
        content: ''
        position: absolute
        top: 0
        bottom: -1px
        left: 0
        right: 0
        background-color: blue
    }


    .screen::after {
        content: ''
        position: absolute
        background: url("../images/train.png") no-repeat
        top: 50%
        left: 50%
        height: size(229px)
        width: size(110px)
        background-size: 100%
        transform: translate(-50%, -50%)
    }
}

body.playing {

    &::before {
        opacity: 0
        z-index: 0
    }

    header {
        transform: translate3d(0,size(-64px), 0)
    }

    #map-legend {
        display: block
    }

    #content {
        transform: translate3d(-100%, 0, 0);
    }

    #demo {

        .stop-demo {
            display: block !important
        }
    }

    .phone {
        opacity: 0.9
        transition: opacity 0.2s

        &:hover {
            opacity: 1
        }
    }
}

#content {
    position: absolute
    right: 0
    left: 0
    height: 100vh
    z-index: 1

    .wrapper {
        margin: auto
    }

    .roadmap {
        margin-top: size(40px)

        ul {

            li {
                padding: size(6px)

                p {
                    display: inline
                }

                input[type=checkbox] {
                    outline: none
                }

                &.done {
                    text-decoration: line-through
                }
            }
        }
    }

    .try-demo, .android-store {
        display: inline-block
        color: #FFF
        width: 100%
        text-align: center
        padding: size(20px)
        font-size: size(16px)
        text-transform: uppercase
        font-family-bold()
    }

    .try-demo {
        margin-top: size(20px)
        background: orange
    }

    .android-store {
        margin: size(20px) 0
        background: blue
    }
}

#demo {
    position: absolute
    right: 0
    top: 0
    bottom: 0
    z-index: 1
    width: 33%

    .stop-demo {
        position: absolute
        top: 4%
        right: 4%
        font-size: 0
        display: none

        &::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F004'
            font-size: size(44px)
            color: dark-blue
        }
    }
}

#map-legend {
    position: absolute
    left: size(10px)
    bottom: 10%
    transform: translateY(10%)
    z-index: 1
    display: none
    border-radius: size(4px)
    padding: size(10px)
    background: transparentify(#000, #000, .5)
    font-size: size(14px)

    li {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 1)
        padding: size(4px) 0 size(4px) 0

        .icon {
            display: inline-block
            width: size(20px)
            height: size(30px)
            vertical-align: middle
            margin-right: size(8px)
        }

        &.algorithm .icon {
            background: url("../images/pin-s-embassy+548cba@2x.png") center center
            background-size: 100%
        }

        &.best-trip .icon {
            background: url("../images/pin-m-rail-light+e9683e@2x.png") center center
            background-size: 100%
        }
    }
}

#map {
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
}

.phone {
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: #2C2C2C
    width: size(320px)
    height: 0
    padding-top: size(630px)
    margin: size(32px) auto 0 auto
    border-radius: 50em/6em
    z-index: 2

    * {
      cursor: url("../images/touch-cursor.png") 16 10, default;
    }

    .mask {
        position: absolute
        top: 0
        bottom: -1px
        left: 0
        right: 0
        z-index: 2
        background: rgba(33, 84, 134, 0.7)

        &.off {
            display: none
        }
    }

    .camera {
        position: absolute
        top: 4%
        left: 48.5%
        background: #3f3f3f
        width: 3%
        height: 0
        padding-top: 3%
        border-radius: 50%
    }

    .speaker {
        position: absolute
        top: 7%
        left: 42.5%
        background: #3f3f3f
        width: 15%
        height: 0
        padding-top: 3%
        border-radius: 1em
    }

    .screen {
        background: #2C2C2C
        width: 90%
        height: size(500px)
        position: absolute
        top: 12.5%
        left: 5%
        padding-bottom: size(40px)

        iframe {
            width: 100%
            height: 100%
        }
    }

    .square {
        position: absolute
        top: size(11px)
        left: size(11px)
        border: 2px solid #d7d7d7
        border-radius: .3em
        width: 45%
        height: 45%
    }

    .buttons {
        width: 100%
        padding: size(10px) size(30px)
        position: absolute
        bottom: -1px
        z-index: 2
        background: #383838

        button {
            border: none
            background: none
            outline: none
            font-size: 0
        }

        .back::before {
            font-family: 'Cheminot'
            display: inline-block
            content: '\F00E'
            color: rgba(255, 255, 255, 0.73)
            font-size: size(16px)
        }
    }

    .unavailable-demo, .unsupported-browser, .start-demo {
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 4
        width: 90%
        text-align: center
        padding: size(26px)
        box-sizing: border-box
        color: #FFF
        font-size: size(20px)
        text-transform: uppercase
        font-family-regular()

        &.hidden {
            display: none
        }

        &.on {
            display: block
        }
    }


    .start-demo {
        background: blue
        color: grey-blue
    }

    .unsupported-browser {
      padding: size(16px);
      line-height: size(26px);
    }

    .unavailable-demo, .unsupported-browser {
        display: none
        background: orange
    }
}

@media screen and (min-width: 1024px) {

    html, body {
        overflow: hidden
    }

    #content {
        top: 0
        width: 66%
        transition: transform .2s

        .wrapper {
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            padding-left: size(80px)
            width: 100%
        }

        .try-demo, .android-store {
            display: none
        }
    }

}

@media (max-width: 1023px) {

    header {
        padding: size(20px)

        .android-store {
            display: none
        }
    }

    #content {
        top: size(64px)

        .wrapper {
            width: 84%
        }
    }

    #demo {
        display: none
    }

}
