@import 'reset';
@import 'colors';


body {

    background-color: blue

}

.train {

    background: url("../images/train.png") no-repeat
    height: 230px
    width: 110px
    background-size: 100%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
}
