@(home: io.prismic.Document, prismicCtx: PrismicHelper.Ctx)(implicit app: play.api.Application, request: RequestHeader)

@main(Some(prismicCtx)) {

    <section id="content">

      <div class="wrapper">

        @defining(Application.linkResolver(prismicCtx.api)) { linkResolver =>

          @Html(home.getStructuredText("home.catchphrase").map(_.asHtml(linkResolver)).getOrElse(""))

          @Html(home.getStructuredText("home.description").map(_.asHtml(linkResolver)).getOrElse(""))

          <div class="roadmap">

            @Html(home.getStructuredText("home.roadmap-title").map(_.asHtml(linkResolver)).getOrElse(""))

            <ul class="todo">

              @home.getGroup("home.roadmap-items").map { items =>

                @items.docs.map { doc =>

                  @doc.getStructuredText("todo").map { todo =>

                    <li @if(doc.getBoolean("done")) {class="done"} else {""}>

                      <input type="checkbox" @if(doc.getBoolean("done")) {checked} else {""} />

                      @Html(todo.asHtml(linkResolver))

                    </li>

                  }

                }

              }

            </ul>

          </div>

        }

        <a href="@routes.Cheminotm.app("index.html")" class="try-demo">Démarrer la démo</a>

        <a class="download-beta" target="_blank" href="http://beta.cheminot.org">Télécharger la beta</a>

      </div>

    </section>
}
