@()

<!DOCTYPE html>

<html>
    <head>
        <title>cheminot.org</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" rel="stylesheet"/>
        <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
    </head>
    <body>

      <div id="map"></div>

      @phone(masked = true) {
        <iframe src="@routes.Cheminotm.splashscreen"></iframe>
      }

      <script src="/assets/javascripts/main.js"></script>

    </body>
</html>
