@(maybePrismicCtx: Option[ PrismicHelper.Ctx] = None)(body: Html)(implicit app: play.api.Application, request: RequestHeader)

<!DOCTYPE html>

<html>
  <head>
    <title>cheminot.org</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    @if(!Common.isMobile(request)) {
      <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" rel="stylesheet"/>
      <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
    }
    <script type="application/javascript">
      window.Settings = {
        domain: '@Config.domain',
        mode: '@play.api.Play.application.mode'
      }
    </script>
    @maybePrismicCtx.map { prismicCtx =>
      <script src="//static.cdn.prismic.io/prismic.min.js"></script>
      @experiment(prismicCtx)
    }
  </head>
  <body>

    <ul id="map-legend">

      <li class="best-trip">
        <input type="checkbox" checked="checked" />
        <span class="icon"></span>Meilleurs trajet trouvé
      </li>

      <li class="algorithm">
        <input type="checkbox" checked="checked" />
        <span class="icon"></span>Stations parcourues par l'algorithme
      </li>

    </ul>

    <div id="map"></div>

    <header>
      <div class="left">
        <a class="logo" href="http://cheminot.org">cheminot.org</a>
      </div><!--

      --><div class="right">
        <a class="beta" target="_blank" href="http://beta.cheminot.org">Télécharger la beta</a>
      </div>
    </header>

    @body

    <section id="demo">

      <button class="stop-demo">X</button>

      @phone(masked = true) {
        <iframe src="#"></iframe>
      }

    </section>

    @helper.javascriptRouter("Router")(
      routes.javascript.Cheminotm.stop,
      routes.javascript.Cheminotm.abort,
      routes.javascript.Cheminotm.signout
    )

    <script src="/assets/javascripts/main.js"></script>

    @ga()

  </body>

</html>
