@(masked: Boolean = false)(content: Html)

<div class="phone">
  <div class="start-demo">Démarrer la demo</div>
  <div title="Chrome et Firefox sont les seuls navigateurs supportés" class="unsupported-browser">Navigateur non supporté</div>
  <div class="unavailable-demo">Demo indisponible</div>
  <div class="camera"></div>
  <div class="speaker"></div>
  <div class="screen">
  <div class="mask @if(masked) { on } else { off }"></div>
    @content
    <div class="buttons">
      <button class="back">Back</button>
    </div>
  </div>
</div>
