@(title: String)

<meta name="twitter:title" content="cheminot.org">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@cheminotorg">
<meta name="twitter:description" content="@title">
<meta name="twitter:image" content="https://prismic-io.s3.amazonaws.com/cheminot%2Fb0513edb-f3c6-4de3-9b84-7c1d7397a0f5_icon-192.png">
<!-- <meta name="twitter:app:country" content="FR"> -->
<!-- <meta name="twitter:app:name:googleplay" content="cheminot"> -->
<!-- <meta name="twitter:app:id:googleplay" content="m.cheminot.prod"> -->
<!-- <meta name="twitter:app:url:googleplay" content="http://beta.cheminot.org"> -->
