@(maybeHome: Option[io.prismic.Document])

@maybeHome.map { home =>

<meta name="twitter:title" content="@home.getText("home.headline") | @home.getText("home.catchphrase")">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@cheminotorg">
<meta name="twitter:description" content="@home.getText("home.description")">
<meta name="twitter:image" content="@home.getImage("home.twitter-card-image").map(_.main.url)">
<!-- <meta name="twitter:app:country" content="FR"> -->
<!-- <meta name="twitter:app:name:googleplay" content="cheminot"> -->
<!-- <meta name="twitter:app:id:googleplay" content="m.cheminot.prod"> -->
<!-- <meta name="twitter:app:url:googleplay" content="http://beta.cheminot.org"> -->

}
